body {
  margin: 0;
  padding-bottom: 70px;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.5s ease;
  background-color: #f8d7da; /* par défaut : rouge clair */
  color: #721c24;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.vert {
  background-color: #d4edda;
  color: #155724;
}

body.rouge {
  background-color: #f8d7da;
  color: #721c24;
}

.container {
  text-align: center;
  padding-top: 60px;
}

h1 {
  font-size: 2.2em;
  margin-top: 20px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.carte {
  display: inline-block;
  padding: 30px 70px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  min-width: 300px;
}

body.vert .carte {
  box-shadow: 0 0 20px rgba(40, 167, 69, 0.3); /* halo vert */
}

body.rouge .carte {
  box-shadow: 0 0 20px rgba(220, 53, 69, 0.3); /* halo rouge */
}

h2 {
  margin: 0;
  font-size: 1.8em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-top: 0;
}

.timestamp {
  margin-top: 15px;
  font-style: italic;
  font-size: 1em;
  color: #555;
}

.total {
  font-size: 1.2em;
  margin-top: 10px;
  color: #333;
}

.reset-zone {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#reset-btn {
    margin-top: 5px;
    padding: 10px 25px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-btn:hover {
    background-color: #000;
}

#reset-confirm {
    margin-top: 8px;
    font-size: 0.9em;
    color: #666;
    display: none;
}

.reset-zone::before {
    content: "";
    display: block;
    width: 50%;
    margin: 0 auto 20px;
    border-top: 2px solid #2f2f2f;
}
